Extended[[:space:]]Data[[:space:]]Fig.[[:space:]]13[[:space:]]The[[:space:]]modelled[[:space:]]irradiance[[:space:]]ranging[[:space:]]from[[:space:]]200[[:space:]]to[[:space:]]400[[:space:]]nm[[:space:]]within[[:space:]]the[[:space:]]45-85[[:space:]]km[[:space:]]of[[:space:]]Venusian[[:space:]]atmosphere.xlsx filter=lfs diff=lfs merge=lfs -text
